extends layout

block content
  h1 Dashboard
  hr
  table
    th License Key
    th Server ID
    th Channel ID
    th User ID
    th Status
    th Update
    th Delete
    if (users)
        each user in users
            tr
                td= user.key
                td= user.serverID
                td= user.channelID
                td= user.discordTradeUserID
                if (!user.authStatus || user.authStatus == "Authorized")
                    td(style="color:green") Authorized
                else
                    td(style="color:red") Not Authorized
                td
                    a(href="/update/"+user.userid) Update
                td
                    form(method='POST' action='/delete/'+user.userid)
                        input(type='submit' value='Delete')
    else
        h1 No users yet...